<div class="welcome-message">
  <% if current_user.type == "Client" %>
    <h3>You don't currently have any messages</h3>
    <h4>Click on compose and search for your therapist to send a message.</h4>
  <% else %>
    <h3>You don't currently have any messages</h3>
    <h4>You will be notified when you get a message, simply reply to that message.</h4>
  <% end %>
</div>