<h1>TherapyMessages</h1>

<p>
  Hi,
</p> 

<p>
  <%= @user.first_name %> invited you to join TherapyMessages. Learn more and then sign up at the link below:<br/>
  <%= link_to "TherapyMessages.com", "http://www.therapymessages.com" %>
</p>

<p>
  Thanks from the TherapyMessages team
</p>