<div class="navbar navbar-fixed-top alt" data-spy="affix" data-offset-top="1000">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Therapy Message</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav pull-right">
        <li><a href="#sec1">SIGN IN</a></li>
        <li><a href="#sec1">JOIN</a></li>
      </ul>
    </div>
   </div>
</div>

<div class="header alt vert">
  <div class="container">
    
    <h1>Confidential E-Therapy</h1>
      <p class="lead">Messages sent between therapist and client.</p>
      <div>&nbsp;</div>
      <a href="#sec1" class="btn btn-default btn-lg" href="#sec1">Sign Up</a>
  </div>
</div>


<div class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Ease of Use</h1>
        <p class="lead">Easy way for therapists and clients to message each other. Therapists and their clients can easily interact with each other in an appropriate, HIPPA compliant manner.</p>
      </div>
      <div class="col-md-5">
        <h1 class="pull-right"><i class="icon-mobile-phone icon-3x"></i> <i class="icon-tablet icon-3x"></i> <i class="icon-laptop icon-3x"></i></h1>
      </div>
    </div>
  </div>
</div>

<div class="featurette">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>How it Works</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="featurette-item">
          <i class="glyphicon glyphicon-user"></i>
          <h4>Sign Up</h4>
          <p>Sign up quickly with little info needed.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="glyphicon glyphicon-search"></i>
          <h4>Find Therapist</h4>
          <p>Easily search for your therapist.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="glyphicon glyphicon-cloud-upload"></i>
          <h4>Send Message</h4>
          <p>Write a message to be delivered.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="glyphicon glyphicon-inbox"></i>
          <h4>Read Reply</h4>
          <p>You will be notified when therapist replies.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="callout">
  <div class="vert">
    <div class="col-md-12 text-center"><h2>Pricing is set by your therapist.</h2></div>
    <div class="col-md-12 text-center">&nbsp;</div>
    <div class="col-md-8 col-md-offset-2 text-center">
      <div class="row hidden-xs">
       <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/women/12.jpg"></div>
       <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/men/95.jpg"></div>
       <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/women/67.jpg"></div>
       <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/men/27.jpg"></div>
       <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/women/15.jpg"></div>  
       <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/men/18.jpg"></div>
      </div>
      <div class="col-md-12 text-center"><h5>The pricing for your individual therapist will be available to you before you send your first message.</h5></div>
    </div>
  </div>
</div>




<div class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1><i class="icon-plane icon-3x"></i></h1>
      </div>
      <div class="col-md-7">
        <h1 class="pull-right">Privacy and Confidentiality</h1>
        <p class="lead pull-right">Your messages and any identifiable information is always kept completely confidetial and will never be shared with anyone except your therapist.</p>
      </div>
    </div>
  </div>
</div>


<div id="sec1" class="blurb bright">
  
  <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h3>Connect Now</h3>
        <br>
      </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
         <div class="panel panel-default">
         <div class="panel-heading text-center"><h2><i class="glyphicon glyphicon-chevron-left"></i> Clients</h2></div>
         <div class="panel-body text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
          Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
          dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
          Aliquam in felis si.
            <div class="row">&nbsp;</div>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-primary" %>
          <%= link_to "Sign In", new_user_session_path, class: "btn btn-lg btn-primary" %> 
          </div>
         </div>
  </div>
    <div class="col-sm-4">
         <div class="panel panel-default">
         <div class="panel-heading text-center"><h2>Therapists <i class="glyphicon glyphicon-chevron-right"></i></h2></div>
         <div class="panel-body text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
          Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
          dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
          Aliquam in felis sit.
           <div class="row">&nbsp;</div>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-primary" %>
          <%= link_to "Sign In", new_user_session_path, class: "btn btn-lg btn-primary" %>  
           
          </div>
         </div>
  </div>
  </div>
</div>

<div class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>About Us</h2>
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#founder"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3>Garth Gaughan</h3>
        <em>click my face for more</em>
   
        <!-- Modal -->
        <div class="modal fade" id="founder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title" id="myModalLabel">More About Garth</h4>
                        </div>
                    <div class="modal-body">
                        <center>
                        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                        <h3 class="media-heading">Garth Gaughan <small>Founder</small></h3>
                        </center>
                        <hr>
                        <center>
                        <p class="text-left"><strong>Bio: </strong><br>
                            Garth has a background in technology startups working in business development and software development. Garth also has a M.S. in counseling and has experience as a clinician.</p>
                        <br>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <center>
                        <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Garth</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div class="well well-lg" id="mission">
          <h2 class="text-center">Mission Statement</h2>
          <p>Therapy Message is built and operated by therapists for therapists and their clients. Therapy Message wants to be the primary company that therapists look to when communicating with their clients electronically.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        <hr>
        <p>Therapy Message ©2014</p>
      </div>
    </div>
  </div>
</footer>

<ul class="nav pull-right scroll-down">
  <li><a href="#" title="Scroll down"><i class="icon-chevron-down icon-3x"></i></a></li>
</ul>
<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="icon-chevron-up icon-3x"></i></a></li>
</ul>
