<h1>TherapyMessages</h1>

<p>
  <%= @user.first_name %>,
</p> 

<p>
  A client has sent you a message that is awaiting your response on TherapyMessages.com.
</p>

<p>
  Thanks from the TherapyMessages team
</p>
