<p><%= t('.greeting', :recipient => @resource.email, :default => "Welcome #{@resource.first_name}!") %></p>

<p><%= t('.instruction', :default => "Thank you for signing up. Please confirm your account by cliciking on the link below.") %></p>

<p><%= link_to t('.action', :default => "Click to confirm my account"),
         confirmation_url(@resource, :confirmation_token => @resource.confirmation_token, locale: I18n.locale) %></p>
